{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Your Food{% endblock %}</h1>

{% endblock %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th>Food Name</th>
      <th>Expiration Date</th>
      <th>Alert</th>
    </tr>
  </thead>
  <tbody>
    {% for food in foods %}
    {% if g.user.id == food.creator_id %}
    <tr>
      <td>{{ food.name }}</td>
      <td>{{ food.expiration_date.strftime('%m/%d/%y') }}</td>
      <td>{{ food.days_before }}</td>
      <td>
        <a href="{{ url_for('food.update', id=food.id) }}" class="btn btn-warning a-btn-slide-text">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          <span><strong>Edit</strong></span>
        </a>
      </td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>

{% if g.user %}
<a href="{{ url_for('food.create') }}" class="btn btn-success a-btn-slide-text">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  <span><strong>Add Food</strong></span>            
</a>
{% endif %}
{% endblock %}