{% extends 'base.html' %}

{% block header %}
  <h1>Editing {{ food['name'] }}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Food Name</label>
    <input name="name" id="name"
      value="{{ request.form['name'] or food['name'] }}" required>
    <label for="expiration_date">Expiration Date</label>
    <input type="date" name="expiration_date" id="expiration_date" 
      value="{{ request.form['expiration_date'] or food['expiration_date'].strftime('%Y-%m-%d') }}">
    <label for="days_before">Alert</label>
    <input type="number" id="days" name="days" min="1" max="31" step="1" value="{{ request.form['days_before'] or food['days_before']}}">
    <input class="btn btn-success" type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('food.delete', id=food.id) }}" method="post">
    <input class="btn btn-danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </input>
  </form>
{% endblock %}