html {
  font-family: sans-serif;
  /* background: #eee; */
  padding: 1rem;
  background-image: url('https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fmedia.istockphoto.com%2Fphotos%2Fkitchen-fresh-colorful-organic-vegetables-on-worktop-picture-id1131005373%3Fb%3D1%26k%3D20%26m%3D1131005373%26s%3D170667a%26w%3D0%26h%3DgeB8_RdcRyteOQ4keRtmMfAKgo0a2bx_-aOlmEKHpvM%3D');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 12%;

}

body {
  /* max-width: 960px;
  max-height: max-content;
  margin: 0 auto;
  background: rgb(255, 255, 255); */
  max-width: 500px;
  margin-left: 475px;
  font-family: "Segoe UI";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
    
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  color: #3c9c97;
  /* margin: 1.5rem 1; */
  padding-left: 2px;
  background-color: white;
}

a {
  color: #3c9c97;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

nav {
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

nav h1 {
  flex: auto;
  margin: 0;
}

nav h1 a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}

nav ul  {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a, nav ul li span, header .action {
  display: block;
  padding: 0.5rem;
}

.content {
  padding: 0 1rem 1rem;

}

.content > header {
  border-bottom: 1px solid #3c9c97ed;
  display: flex;
  align-items: flex-end;
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}

.post > header {
  display: flex;
  align-items: flex-end;
  font-size: 0.85em;
}

.post > header > div:first-of-type {
  flex: auto;
}

.post > header h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}

.post .about {
  color: slategray;
  font-style: italic;
}

.post .body {
  white-space: pre-line;
}

.content:last-child {
  margin-bottom: 0;
}

.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI';
  color: #3c9c97;
}

.content label {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.content input, .content textarea {
  margin-bottom: 1em;
  border-color: lightgray;
}

.content textarea {
  min-height: 12em;
  resize: vertical;
}

input.danger {
  color: #cc2f2e;
}

input[type=submit] {
  align-self: start;
  min-width: 10em;
  color: #3c9c97;
  background-color: #fff;
}