{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <a href="{{ url_for('auth.reset') }}" class="link-success">Forgot password?</a>
    <input class="btn btn-success" type="submit" value="Login">
  </form>
{% endblock %}