{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}User Profile{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="card">
    <img src="https://media.istockphoto.com/vectors/florida-orange-vector-id165974969?b=1&k=20&m=165974969&s=170667a&w=0&h=dY06Dx8JzqgxosnP8LGHbW6daEC2clNGl9WzpCZyWUU=" alt="Orange" style="width:25%">
    <p>Username: {{ g.user.username }}</p>
    <p>Email: {{ g.user.email }}</p>
    <p>Freshi Goal: Consume all groceries within a week before expiration.</p>

    <a href="#" class="btn btn-success a-btn-slide-text">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        <span><strong>Edit</strong></span>            
    </a></div>
{% endblock %}